.App {
    text-align: center;
}

.pagination {
    width: 500px;
    display: flex;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.pokemon-list-wrapper {
    width: 90%;
    margin: auto;
}

.pokemon-list-wrapper .pokemon-list-item {
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 2px solid coral;
    padding: 10px;
    border-radius: 7px;
}
